#ifndef {{FileNameUpperCase}}
#define {{FileNameUpperCase}}

#include "module_base.h"
#include <NeoSWSerial.h>

class InterfaceBluetoothReceiver : public ModuleBase {
  public:
    InterfaceBluetoothReceiver(NeoSWSerial& bluetooth);
    void Init() final;
    void Step() final;
    void UpdateInterfaceSubscription() final;
    void UpdateInterfacePublishing() final;

private:
    void ProcessData(const String& message);
    void ProcessInterface(const String& interface_name, const String& interface_values);
    {% for interface_name_short, interface_name in InterfaceNamesPascalCase %}
    void Send{{interface_name}}Data(const String& interface_values);
    {% endfor %}
    bool StringContainsSubstring(const String& main_string, const String& sub_string);
    bool BluetoothReceptionTimedOut(const unsigned long& start_time);

    NeoSWSerial& bluetooth_;

};
#endif // {{FileNameUpperCase}}