{% for module_name_snake_case in ModuleNameSnakeCase %}
#include "{{module_name_snake_case}}.h"
{% endfor %}
#include "interface_sender.h"
#include "interface_receiver.h"

// Communication modules
InterfaceSender interface_sender{};
InterfaceReceiver interface_receiver{};
// Modules
{% for module_name_pascal_case, module_name_snake_case in ModuleNames %}
{{module_name_pascal_case}} {{module_name_snake_case}}{};
{% endfor %}

void setup() {
    Serial.begin(9600);
{% for module_name_snake_case in ModuleNameSnakeCase %}
    {{module_name_snake_case}}.Init();
{% endfor %}
    interface_receiver.Init();
    interface_sender.Init();
}

void loop() {
    interface_receiver.StepModule();
{% for module_name_snake_case in ModuleNameSnakeCase %}
    {{module_name_snake_case}}.StepModule();
{% endfor %}
    interface_sender.StepModule();
}