{% for module_name_snake_case in ModuleNameSnakeCase %}
#include "{{module_name_snake_case}}.h"
{% endfor %}

{% for module_name_pascal_case, module_name_snake_case in ModuleNames %}
{{module_name_pascal_case}} {{module_name_snake_case}}{};
{% endfor %}

void setup() {
    Serial.begin(9600);
{% for module_name_snake_case in ModuleNameSnakeCase %}
    {{module_name_snake_case}}.Init();
{% endfor %}
}

void loop() {
{% for module_name_snake_case in ModuleNameSnakeCase %}
    {{module_name_snake_case}}.StepModule();
{% endfor %}
}